@import url(navbar.css);
span {
  margin: 10px 10px;
  background-color: #47d1d1;
  max-width: 550px;
  padding-bottom: 5px;
}

.user-field {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  background-color: rgba(71, 209, 209, 0.74);
  border: 2px solid #33cccc;
  border-radius: 20px;
}

.login-field {
  background: linear-gradient(#222222, rgba(34, 34, 34, 0.88));
  background-size: 1200px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  border-radius: 20px;
}

.login-field h3 {
  font-size: 50px;
  color: white;
}

.label-edit {
  height: 30px;
  width: 55%;
  margin-top: 25px;
  color: white;
  font-family: "Libre Franklin", sans-serif;
}

.edit {
  height: 35px;
  width: 55%;
  border-radius: 5px;
}

.edit-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 55%;
  font-size: 24px;
  border-radius: 20px;
  background-color: transparent;
  border-style: solid;
  color: white;
  width: 150px;
}

.edit-button:hover {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 55%;
  font-size: 24px;
  border-radius: 20px;
  background-color: white;
  border-style: solid;
  color: #47d1d1;
  width: 150px;
}

/* resource id page */
.resource_id {
  background-color: #47d1d1;
}

.resource_id h2 {
  font-size: 35px;
}

.container {
  padding-bottom: 30px;
}

#comment {
  border-left: 3.5px solid #47d1d1;
  border-bottom: 3.5px solid #47d1d1;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.comment {
  padding-top: 10px;
}

#comment label {
  font-size: 25px;
  margin-bottom: 0;
}

#comment h6 {
  margin-top: 0;
}

h3.add-new {
  margin-top: 30px;
  color: white;
  border-width: 2px;
  padding: 0px;
  border-radius: 20px;
}

h3.add-new:hover {
  color: grey;
  border-width: 2px;
  padding: 0px;
  border-radius: 20px;
  margin-top: 30px;
}
