body{
  background-color: #787878;
  font-family: 'Libre Franklin', sans-serif;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/63/b8/46/63b8466b1a1d5454eca87ea871daefa5.jpg');
}

section.col-sm-4 {
  border: 3px solid #404040;
}
div

span.col-sm-12 .col-md-6 {
            margin: 10px 10px;
            background-color: #47d1d1;
            max-width: 550px;
            padding-bottom: 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-size: 15px;
  margin-top: 10px;

}

.container {
  margin-top: 100px;
}

.search-bar {
  margin-top:20px;
  margin-right: 150px;
}

.navbar-inverse .navbar-brand {
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

.navbar {
  height: 80px;
}
